/**
 * The file contains styles for GWT widgets in the standard theme.
 *
 * In order to maintain cross-browser compatibility, the following syntax is
 * used to create IE6 specific style rules:
 *    .gwt-Widget {
 *      property: rule applies to all browsers
 *      -property: rule applies only to IE6 (overrides previous rule)
 *    }
 *    * html .gwt-Widget {
 *      property: rule applies to all versions of IE
 *    }
 */

body, table td, select, button  {
  font-size: 10px;
  color: black;
  margin: 0px;
  border: 0px;
  padding: 0px;
  direction: ltr;
}
body, table td, select, button, input  {
  font-family: Arial Unicode MS, Arial, sans-serif;
}
pre {
  font-family: "courier new", courier;
  font-size: small;
}
a, a:visited, a:hover {
  color: #0000AA;
}
input,select,textarea{
    outline:none;	
}

/**
 * The reference theme can be used to determine when this style sheet has
 * loaded.  Create a hidden div element with absolute position, assign the style
 * name below, and attach it to the DOM.  Use a timer to detect when the
 * element's height and width are set to 5px.
 */
.gwt-Reference-standard {
  height: 5px;
  width: 5px;
  zoom: 1;
}

/* 
   GWT Button
------------------------------------------------------------------- */
.gwt-Button {
	background:#F6F6F6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) repeat-x scroll 50% 50%;
	border:1px solid #DDDDDD;
	color:#0073EA;
	font-weight:bold;
	padding: 0.4em 1em 0.4em 1em;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	-moz-border-radius: 4px;
	border-radius: 4px;
}
.gwt-Button:active {
}

.gwt-Button:hover {
  border: 1px solid #0073ea;
  background: #0073ea url(images/ui-bg_highlight-soft_25_0073ea_1x100.png) 50% 50% repeat-x;
  font-weight: bold;
  color: #ffffff;
  outline: none;
}

.gwt-Button[disabled] {
  cursor: default;
  color: #888;
  opacity: .5;
  filter: alpha(opacity=40);
  zoom: 1;
}

.gwt-Button[disabled]:hover {
}

/* 
   GWT Push Button
------------------------------------------------------------------- */
.gwt-PushButton {
	font-weight:bold;
	color: #FFFFFF;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.gwt-PushButton-up,
.gwt-PushButton-up-hovering,
.gwt-PushButton-up-disabled {
  padding: 0.4em 1em 0.4em 1em;
}

.gwt-PushButton-up {
	background: none repeat scroll 0 0 #0063DC;
	border:1px solid #0063DC;
}

.gwt-PushButton-up-hovering {
	background: none repeat scroll 0 0 #0054BD;
	border:1px solid #0054BD;
}

.gwt-PushButton-up-disabled {
	opacity: .5;
  	filter: alpha(opacity=40);
  	zoom: 1;
}

.gwt-PushButton-down,
.gwt-PushButton-down-hovering,
.gwt-PushButton-down-disabled {
 	padding: 0.4em 1em 0.4em 1em;
}

.gwt-PushButton-down,
.gwt-PushButton-down-hovering {
	background: none repeat scroll 0 0 #004EB0;
	border:1px solid #004EB0;
}
.gwt-PushButton-down-hovering {
}
.gwt-PushButton-down-disabled {
	opacity: .5;
  	filter: alpha(opacity=40);
  	zoom: 1;
}

/* 
   GWT PopupPanel Glass
------------------------------------------------------------------- */
.gwt-PopupPanelGlass {
  background-color: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}

/* 
   GWT Toggle Button
------------------------------------------------------------------- */
.gwt-ToggleButton {
	font-weight:bold;
	color: #FFFFFF;
	outline-color:-moz-use-text-color;
	outline-style:none;
	outline-width:medium;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.gwt-ToggleButton-up,
.gwt-ToggleButton-up-hovering,
.gwt-ToggleButton-up-disabled {
  padding: 0.4em 1em 0.4em 1em;
}

.gwt-ToggleButton-up {
	background: none repeat scroll 0 0 #0063DC;
	border:1px solid #0063DC;
}

.gwt-ToggleButton-up-hovering {
	background: none repeat scroll 0 0 #0054BD;
	border:1px solid #0054BD;
}

.gwt-ToggleButton-up-disabled {
	opacity: .5;
  	filter: alpha(opacity=40);
  	zoom: 1;
}

.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering,
.gwt-ToggleButton-down-disabled {
 	padding: 0.4em 1em 0.4em 1em;
}

.gwt-ToggleButton-down,
.gwt-ToggleButton-down-hovering {
	background: none repeat scroll 0 0 #004EB0;
	border:1px solid #004EB0;
}
.gwt-ToggleButton-down-hovering {
}
.gwt-ToggleButton-down-disabled {
	opacity: .5;
  	filter: alpha(opacity=40);
  	zoom: 1;
}

/* 
   GWT Radio Button
------------------------------------------------------------------- */
.gwt-RadioButton {
}
.gwt-RadioButton-disabled {
	color: ##888888;
}

/* 
   GWT Checkbox
------------------------------------------------------------------- */
.gwt-CheckBox {
}
.gwt-CheckBox-disabled {
	color: ##888888;
}


/* 
   GWT DatePicker
------------------------------------------------------------------- */
.gwt-DatePicker { 
	width: 17em;
	padding: .2em .2em 0;
	border: 1px solid #DDDDDD;
}

.gwt-DatePicker, .gwt-DatePicker table, .gwt-DatePicker td, .gwt-DatePicker div { 
	-moz-border-radius: 4px;
	border-radius: 4px;
	outline-color:-moz-use-text-color !important;
	outline-style:none !important;
	outline-width:0 !important;
}

.datePickerMonthSelector {  
	background: #DDDDDD url(images/ui-bg_highlight-soft_50_dddddd_1x100.png) repeat-x scroll 50% 50%;
}

.datePickerMonth {
	text-align: center;
	font-weight:bold;
}

.datePickerPreviousButton, .datePickerNextButton { 
	padding: 5px;
}

.datePickerPreviousButton-up-hovering, .datePickerNextButton-up-hovering { 
	background-color: #0073ea;
	padding: 5px;
}

.datePickerPreviousButton .html-face, .datePickerNextButton .html-face, .datePickerPreviousButton-up-hovering .html-face, .datePickerNextButton-up-hovering .html-face {
	text-indent: -99999px;
	height: 17px;
	width: 17px;
} 

.datePickerPreviousButton .html-face {
	background: url(images/ui-icons_0073ea_256x240.png);
	background-position: -80px -192px;
}

.datePickerPreviousButton-up-hovering .html-face {
	background: #0073ea url(images/ui-icons_ffffff_256x240.png) 50% 50% repeat-x; 
	background-position: -80px -192px;
}

.datePickerNextButton .html-face {
	background: url(images/ui-icons_0073ea_256x240.png); 
	background-position: -48px -192px;
}

.datePickerNextButton-up-hovering .html-face {
	background: #0073ea url(images/ui-icons_ffffff_256x240.png) 50% 50% repeat-x; 
	background-position: -48px -192px;
}

.datePickerDays { 
	width: 100%;
	border-collapse: separate;
	margin:0 0 .4em;
	border-spacing: 2px;
}

.datePickerWeekdayLabel, .datePickerWeekendLabel {
	padding: .7em .3em;
	text-align: center;
	font-weight: bold;
	border: 0;
}

.datePickerDay {
	padding: 0.3em 0.5em 0.3em 0.3em;
	background:#F6F6F6 url(images/ui-bg_highlight-soft_100_f6f6f6_1x100.png) repeat-x scroll 50% 50%;
	text-align: right;
	border:1px solid #DDDDDD;
	color:#0073EA;
	font-weight:bold;
}

.datePickerDayIsToday {
	background:#FFFFFF url(images/ui-bg_flat_55_ffffff_40x100.png) repeat-x scroll 50% 50%;
	border:1px solid #CCCCCC;
	color:#444444; 
}

.datePickerDayIsWeekend {
}

.datePickerDayIsFiller { 
	color: #DDDDDD;
}

.datePickerDayIsValue { 
	background:#FFFFFF url(images/ui-bg_glass_65_ffffff_1x400.png) repeat-x scroll 50% 50%;
	border:1px solid #DDDDDD;
	color:#FF0084;
}

.datePickerDayIsDisabled {
	background:#FFFFFF url(images/ui-bg_flat_55_ffffff_40x100.png) repeat-x scroll 50% 50%;
	border:1px solid #CCCCCC;
	color:#DDDDDD; 
}

.datePickerDayIsHighlighted {
	background:#0073EA url(images/ui-bg_highlight-soft_25_0073ea_1x100.png) repeat-x scroll 50% 50%;
	border:1px solid #0073EA;
	color:#FFFFFF;
}

.datePickerDayIsValueAndHighlighted {
	background:#FFFFFF url(images/ui-bg_glass_65_ffffff_1x400.png) repeat-x scroll 50% 50%;
	border:1px solid #DDDDDD;
	color:#FF0084;
}

/* 
   GWT TextBox, GWT Password TextBox, GWT TextArea
------------------------------------------------------------------- */
.gwt-TextBox, .gwt-PasswordTextBox, .gwt-TextArea {
	padding: 2px 4px;
	border: 1px solid #DDDDDD;
}
.gwt-TextBox-readonly, .gwt-PasswordTextBox-readonly, .gwt-TextArea-readonly {
	background: url("images/ui-bg_highlight-soft_100_f6f6f6_1x100.png") repeat-x scroll 50% 50% #F6F6F6;
}

/* 
   GWT HyperLink
------------------------------------------------------------------- */
.gwt-Hyperlink {
	color:#0063DC;
	text-decoration:underline; 
}

.gwt-Hyperlink a:hover,
.gwt-Hyperlink a:active {
	background: none repeat scroll 0 0 #0063DC;
	color:#FFFFFF;
	text-decoration:none; 
}

/* 
   GWT ListBox
------------------------------------------------------------------- */
.gwt-ListBox { }

/* 
   GWT MenuBar
------------------------------------------------------------------- */
.gwt-MenuBar {
}
.gwt-MenuBar-horizontal {
	background:url("images/ui-bg_highlight-soft_50_dddddd_1x100.png") repeat-x scroll 50% 50% #DDDDDD;
	border:1px solid #DDDDDD;
	border-bottom: none;
	color:#444444;
	font-weight:bold;
}
.gwt-MenuBar-horizontal table {
	border-spacing: 0px;
}
.gwt-MenuBar-vertical {
	border:1px solid #DDDDDD;
}
.gwt-MenuBar-vertical table {
	width: 100%;
}
.gwt-MenuBar .gwt-MenuItem {
	color:#0073EA;
	font-weight:bold;
	padding: 0.5em 1em;
}
.gwt-MenuBar-horizontal .gwt-MenuItem {
	background:url("images/ui-bg_highlight-soft_100_f6f6f6_1x100.png") repeat-x scroll 50% 50% #F6F6F6;
	border:1px solid #DDDDDD;
	color:#0073EA;
	font-weight:bold;
	padding: 0.5em 1em;
	outline:medium none;
}
.gwt-MenuBar-vertical .gwt-MenuItem {
	background: url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #ffffff;
	border: none;
}
.gwt-MenuBar-horizontal .gwt-MenuItem-selected {
	background:url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #F6F6F6;
	color: #FF0084;
}
.gwt-MenuBar-vertical .gwt-MenuItem-selected {
	background:url("images/ui-bg_flat_75_ffffff_40x100.png") repeat-x scroll 50% 50% #ffffff;
	color: #FF0084;
}
.gwt-MenuBar .gwt-MenuItemSeparator {
}
.gwt-MenuBar .gwt-MenuItemSeparator .menuSeparatorInner {
}
.gwt-MenuBarPopup {
	min-width: 100px;
}
.gwt-MenuBarPopup table {
	width: 100%;
}
.gwt-MenuBarPopup .menuPopupTopLeft { 
}
.gwt-MenuBarPopup .menuPopupTopLeftInner {
}
.gwt-MenuBarPopup .menuPopupTopCenter {
}
.gwt-MenuBarPopup .menuPopupTopCenterInner {
}
.gwt-MenuBarPopup .menuPopupTopRight {
}
.gwt-MenuBarPopup .menuPopupTopRightInner {
}
.gwt-MenuBarPopup .menuPopupMiddleLeft {
}
.gwt-MenuBarPopup .menuPopupMiddleLeftInner {
}
.gwt-MenuBarPopup .menuPopupMiddleCenter {
	min-width: 100px;
}
.gwt-MenuBarPopup .menuPopupMiddleCenterInner {
}
.gwt-MenuBarPopup .menuPopupMiddleRight {
}
.gwt-MenuBarPopup .menuPopupMiddleRightInner {
}
.gwt-MenuBarPopup .menuPopupBottomLeft {
}
.gwt-MenuBarPopup .menuPopupBottomLeftInner {
}
.gwt-MenuBarPopup .menuPopupBottomCenter {
}
.gwt-MenuBarPopup .menuPopupBottomCenterInner {
}
.gwt-MenuBarPopup .menuPopupBottomRight {
}
.gwt-MenuBarPopup .menuPopupBottomRightInner {
}

/* 
   GWT Tree
------------------------------------------------------------------- */

.gwt-Tree
{ the tree itself }
.gwt-Tree .gwt-TreeItem
{ a tree item }
.gwt-Tree .gwt-TreeItem-selected
{ a selected tree item }

/* 
   GWT SuggestBox
------------------------------------------------------------------- */
.gwt-SuggestBox
{ the suggest box itself }
.gwt-SuggestBoxPopup
{ the suggestion popup }
.gwt-SuggestBoxPopup .item
{ an unselected suggestion }
.gwt-SuggestBoxPopup .item-selected
{ a selected suggestion }
.gwt-SuggestBoxPopup .suggestPopupTopLeft
{ the top left cell }
.gwt-SuggestBoxPopup .suggestPopupTopLeftInner
{ the inner element of the cell }
.gwt-SuggestBoxPopup .suggestPopupTopCenter
{ the top center cell }
.gwt-SuggestBoxPopup .suggestPopupTopCenterInner
{ the inner element of the cell }
.gwt-SuggestBoxPopup .suggestPopupTopRight
{ the top right cell }
.gwt-SuggestBoxPopup .suggestPopupTopRightInner
{ the inner element of the cell }
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft
{ the middle left cell }
.gwt-SuggestBoxPopup .suggestPopupMiddleLeftInner
{ the inner element of the cell }
.gwt-SuggestBoxPopup .suggestPopupMiddleCenter
{ the middle center cell }
.gwt-SuggestBoxPopup .suggestPopupMiddleCenterInner
{ the inner element of the cell }
.gwt-SuggestBoxPopup .suggestPopupMiddleRight
{ the middle right cell }
.gwt-SuggestBoxPopup .suggestPopupMiddleRightInner
{ the inner element of the cell }
.gwt-SuggestBoxPopup .suggestPopupBottomLeft
{ the bottom left cell.gwt-RichTextArea }
.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner
{ the inner element of the cell }
.gwt-SuggestBoxPopup .suggestPopupBottomCenter
{ the bottom center cell }
.gwt-SuggestBoxPopup .suggestPopupBottomCenterInner
{ the inner element of the cell }
.gwt-SuggestBoxPopup .suggestPopupBottomRight
{ the bottom right cell }
.gwt-SuggestBoxPopup .suggestPopupBottomRightInner
{ the inner element of the cell }

/* 
   GWT RichTextArea
------------------------------------------------------------------- */
.gwt-RichTextArea {
	font-family: Arial Unicode MS, Arial, sans-serif;
	font-size: 10px;
	width: 100%; 
	border: none;
	background-color: #ffffff;
}

.hasRichTextToolbar {
  border: 0px;
}
.gwt-RichTextToolbar {
}
.gwt-RichTextToolbar .gwt-PushButton-up {
  padding: 0px 1px 0px 0px;
  margin-right: 4px;
  margin-bottom: 4px;
  border-width: 1px; 
}
.gwt-RichTextToolbar .gwt-PushButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px; 
}
.gwt-RichTextToolbar .gwt-PushButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}
.gwt-RichTextToolbar .gwt-PushButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px; 
}
.gwt-RichTextToolbar .gwt-ToggleButton-up {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}
.gwt-RichTextToolbar .gwt-ToggleButton-up-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 1px 0px 0px;
  border-width: 1px;
}
.gwt-RichTextToolbar .gwt-ToggleButton-down {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}
.gwt-RichTextToolbar .gwt-ToggleButton-down-hovering {
  margin-right: 4px;
  margin-bottom: 4px;
  padding: 0px 0px 0px 1px;
  border-width: 1px;
}
.cw-RichText {
  border: 1px solid #BBBBBB;
  border-spacing: 0px;
}

/* 
   GWT Table
------------------------------------------------------------------- */

/* 
   GWT TabBar
------------------------------------------------------------------- */
.gwt-TabBar { the tab bar itself }
.gwt-TabBar .gwt-TabBarFirst { the left edge of the bar }
.gwt-TabBar .gwt-TabBarFirst-wrapper { table cell around the left edge }
.gwt-TabBar .gwt-TabBarRest { the right edge of the bar }
.gwt-TabBar .gwt-TabBarRest-wrapper { table cell around the right edge }
.gwt-TabBar .gwt-TabBarItem { unselected tabs }
.gwt-TabBar .gwt-TabBarItem-wrapper { table cell around tab }
.gwt-TabBar .gwt-TabBarItem-selected { additional style for selected }

/*
   GWT DecoratorPanel
------------------------------------------------------------------- */
.gwt-DecoratorPanel {
}
.gwt-DecoratorPanel .topCenter,
.gwt-DecoratorPanel .bottomCenter {
  background: url(images/hborder.png) repeat-x;
}
.gwt-DecoratorPanel .middleLeft,
.gwt-DecoratorPanel .middleRight {
  background: url(images/vborder.png) repeat-y;
}
.gwt-DecoratorPanel .topLeftInner,
.gwt-DecoratorPanel .topRightInner,
.gwt-DecoratorPanel .bottomLeftInner,
.gwt-DecoratorPanel .bottomRightInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}
.gwt-DecoratorPanel .topLeft {
  background: url(images/corner.png) no-repeat 0px 0px;
  -background: url(images/corner_ie6.png) no-repeat 0px 0px;
}
.gwt-DecoratorPanel .topRight {
  background: url(images/corner.png) no-repeat -5px 0px;
  -background: url(images/corner_ie6.png) no-repeat -5px 0px;
}
.gwt-DecoratorPanel .bottomLeft {
  background: url(images/corner.png) no-repeat 0px -5px;
  -background: url(images/corner_ie6.png) no-repeat 0px -5px;
}
.gwt-DecoratorPanel .bottomRight {
  background: url(images/corner.png) no-repeat -5px -5px;
  -background: url(images/corner_ie6.png) no-repeat -5px -5px;
}
* html .gwt-DecoratorPanel .topLeftInner,
* html .gwt-DecoratorPanel .topRightInner,
* html .gwt-DecoratorPanel .bottomLeftInner,
* html .gwt-DecoratorPanel .bottomRightInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
}

/* 
   GWT DialogBox
------------------------------------------------------------------- */
.gwt-DialogBox {
	border: 1px solid #DDDDDD;
	-moz-border-radius:4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
	background-color:#FFFFFF;
	padding:8px;
}
.gwt-DialogBox .Caption {
	background-color: #dddddd;
	padding: 4px 4px 4px 4px;
	border: 1px solid #dddddd;
	color:#444444;
	font-weight:bold; 
	-moz-border-radius:4px 4px 4px 4px;
	border-radius: 4px 4px 4px 4px;
}
.gwt-DialogBox .dialogContent { }
.gwt-DialogBox .dialogTopLeft { }
.gwt-DialogBox .dialogTopLeftInner { }
.gwt-DialogBox .dialogTopCenter { }
.gwt-DialogBox .dialogTopCenterInner { }
.gwt-DialogBox .dialogTopRight { }
.gwt-DialogBox .dialogTopRightInner { }
.gwt-DialogBox .dialogMiddleLeft { }
.gwt-DialogBox .dialogMiddleLeftInner { }
.gwt-DialogBox .dialogMiddleCenter { }
.gwt-DialogBox .dialogMiddleCenterInner { }
.gwt-DialogBox .dialogMiddleRight { }
.gwt-DialogBox .dialogMiddleRightInner { }
.gwt-DialogBox .dialogBottomLeft { }
.gwt-DialogBox .dialogBottomLeftInner { }
.gwt-DialogBox .dialogBottomCenter { }
.gwt-DialogBox .dialogBottomCenterInner { }
.gwt-DialogBox .dialogBottomRight { }
.gwt-DialogBox .dialogBottomRightInner { }

/* 
   GWT StackPanel
------------------------------------------------------------------- */
.gwt-StackPanel {
	width: 100%;
	font-weight:bold;
}

.gwt-StackPanel div {
	-moz-border-radius: 4px;
	border-radius: 4px;
	outline-color:-moz-use-text-color !important;
	outline-style:none !important;
	outline-width:0 !important; 
}

.gwt-StackPanel .gwt-StackPanelItem {
	color:#0073EA;
}

.gwt-StackPanel .gwt-StackPanelItem div {
	border:1px solid #DDDDDD;
	margin:0.5em 0.5em 0.5em 2.2em;
	padding:0.5em 0.5em 0.5em 2.2em;
	border:1px solid #DDDDDD;
	
}
.gwt-StackPanel .gwt-StackPanelItem-selected {
	color:#FF0084;
}
.gwt-StackPanel .gwt-StackPanelItem-selected div {
	margin:0.5em 0.5em 0em 2.2em;
	padding:0.5em 0.5em 0.5em 2.	border-top: 0px none;
	border:1px solid #DDDDDD;
	border-bottom: 0px;
	border-radius-bottomleft: 0px;
	border-radius-bottomright: 0px;
	-moz-border-radius-bottomleft: 0px;
	-moz-border-radius-bottomright: 0px;
	
}
.gwt-StackPanel .gwt-StackPanelContent {
	color:#444444;
}
.gwt-StackPanel .gwt-StackPanelContent .gwt-Label {
	margin: 0em 0.5em 0.5em 2.2em;
	padding: 0.5em 0.5em 0.5em 2.2em;
	border:1px solid #DDDDDD;
	border-top: 0px none;
	border-radius-topleft: 0px;
	border-radius-topright: 0px;
	-moz-border-radius-topleft: 0px;
	-moz-border-radius-topright: 0px;
}
